# Copy this file to .env and edit the settings

# Port to listen on (example: 3000)
PORT=

# MongoDB database URL (example: mongodb://localhost/dbname)
DATABASE_URL=

# Session secret string (must be unique to your server)
SESSION_SECRET=

# OpenAI API Key
OPENAI_API_KEY=

# Bureau of Economic Analysis (BEA) API Key
BEA_API_KEY=

# Bureau of Labour Statistics (BLS) API Key
BLS_API_KEY=

# US Census Bureau API Key
CENSUS_API_KEY=
